* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  outline: none;
}

body {
  background: radial-gradient(circle, rgb(24, 22, 183) 75%, rgb(17, 60, 42) 100%);
}

main {
  width: 380px;
  background: #000000de;
  border-radius: 20px;
  margin: 90px;
  margin-left: 39%;
  padding: 44px 24px 23px;
}

label {
  color: #ffffff;
  font-weight: 400;
  font-size: 25px;
}

select,
input {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 15px;
  height: 48px;
  width: 100%;
  margin-bottom: 24px;
  appearance: none;
  padding-left: 18px;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  cursor: pointer;
}

button {
  background: rgb(4, 18, 214);
  border-radius: 15px;
  width: 100%;
  border: none;
  height: 48px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

section {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow-img{
    margin: 15px 0;
}

.currency-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency{
    color: #ffffff;
    font-size: 18px;
}

.currency-value, .currency-value-to-convert{
    color: #ffffff;
    font-weight: 700;
    font-size: 20px;
}